
<div class="upload-form">
	<script type="text/javascript">
		var goforit = function () {
			document.getElementById("loading").className = "loadinggif-show";
		}
	</script>
	<h3>Annual Reports</h3>
	<form name="annualreportform" class="form-horizontal" action="/uploadaward" method="POST" enctype="multipart/form-data" onsubmit="goforit();">	
		<input type="hidden" name="doctype" value="annualreport" />
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-5">
				<div>
					Upload File: </br>
					<input type="file" name="file"><br>
				</div>		
				<div class="form-group">
					<label for="title" class="col-lg-4 control-label">Title</label>
					<div>
						<input type="text" id="title" name="title" required>
						<span class="error" ng-show="annualreportform.input.$error.required">Required</span>
					</div>
				</div>
				
				<!-- <div class="form-group">
					<label for="link" class="col-lg-4 control-label">Link</label>
					<div>
						<input type="text" id="link" ng-model="newannualreport.link" required>
						<span class="error" ng-show="annualreportform.input.$error.required">Required</span>
					</div>
				</div> -->
				<div>
					<input type="submit" value="Submit Award" class="btn-primary"> <br><br>
				</div>

				<div class="form-group">
					<label for="doctext" class="col-lg-2 control-label">Document Text</label>
					<div>
						<textarea id="doctext" rows="20" cols="80" name="doctext" required></textarea>
						<span class="error" ng-show="annualreportform.input.$error.required">Required</span>
					</div>
				</div>
			<div class="col-lg-6"></div>
		</div>
	</form>
	<div id="loading" class="loadinggif-hidden">
			<img src="img/ajax_loader_green_128.gif" class="loadimg">
	</div>
</div>
