
<div class="upload-form">
	<script type="text/javascript">
		var goforit = function () {
			document.getElementById("loading").className = "loadinggif-show";
		}
	</script>
	<h3>Awards</h3>
	<form name="awardform" class="form-horizontal" action="/uploadaward" method="POST" enctype="multipart/form-data" onsubmit="goforit();">	
		<input type="hidden" name="doctype" value="award" />
		
		
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-5">
				<div>
					Upload File: </br>
					<input type="file" name="file"><br>
				</div>
				<div class="form-group">
					<label for="boardtype" class="col-lg-4 control-label">Board Type</label>
					<div>
						<input type="text" id="boardtype" name="boardtype">
						
					</div>
				</div>
				<div class="form-group">
					<label for="boardnumber" class="col-lg-4 control-label">Board Number</label>
					<div>
						<input type="text" id="boardnumber" name="boardnumber">
						
					</div>
				</div>
				<div class="form-group">
					<label for="awardnumber" class="col-lg-4 control-label">Award Number</label>
					<div>
						<input type="text" id="awardnumber" name="awardnumber">
						
					</div>
				</div>
				<div class="form-group">
					<label for="docdate" class="col-lg-4 control-label">Document Date</label>
					<div>
						<input type="text" id="docdate" name="docdate" placeholder="yyyy-m-d"
						 pattern="[12][0-9]{3}-[01]?[0-9]-[0123]?[0-9]" required>
						<span class="error" ng-show="awardform.input.$error.required">Required</span>
					</div>
				</div>
				<!-- <div class="form-group">
					<label for="link" class="col-lg-4 control-label">Link</label>
					<div>
						<input type="text" id="link" ng-model="newaward.link" required>
						<span class="error" ng-show="awardform.input.$error.required">Required</span>
					</div>
				</div> -->
			</div>
		


		
			<div class="col-lg-5">
				<div>
					<input type="submit" value="Submit Award" class="btn-primary"> <br><br>
				</div>
				<div class="form-group">
					<label for="arbname" class="col-lg-4 control-label">Arbitrator</label>
					<div>
						<input type="text" id="arbname" name="arbitrator">
						
					</div>
				</div>
				<div class="form-group">
					<label for="carriers" class="col-lg-4 control-label">Carrier(s)</label>
					<div>
						<input type="text" id="carriers" name="carriers">
						
					</div>
				</div>
				<div class="form-group">
					<label for="unions" class="col-lg-4 control-label">Union(s)</label>
					<div>
						<input type="text" id="unions" name="unions">
						
					</div>
				</div>
				<div class="form-group">
					<label for="parties" class="col-lg-4 control-label">Party(s)</label>
					<div>
						<input type="text" id="parties" name="parties">
					</div>
				</div>
				<div class="form-group">
					<label for="crafts" class="col-lg-4 control-label">Craft(s)</label>
					<div>
						<input type="text" id="crafts" name="crafts">
						
					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>


		<div class="form-group">
			<label for="doctext" class="col-lg-2 control-label">Document Text</label>
			<div>
				<textarea id="doctext" rows="15" cols="80" name="doctext" required></textarea>
				<span class="error" ng-show="awardform.input.$error.required">Required</span>
			</div>
		</div>
	</form>
	<div id="loading" class="loadinggif-hidden">
			<img src="img/ajax_loader_green_128.gif" class="loadimg">
	</div>
</div>

